body {
	margin: 0;
	background-color: #F2FAFB;
}

/* contains title and all content */
main {
	background-color: white;
	text-align: left;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 50px; /* need room for the navbar */
	margin-bottom: 0;
	min-width: 600px;
}

a.menuOption {
	text-decoration: none;
}

/* img that expands when hovered over */
img.centerGrow { 
	transition: all .2s ease-in-out; 
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

img.centerGrow:hover { 
	transform: scale(1.2); 
}

img.floatRight {
	float: right; 
	margin-left: 50px;
}

/* img that is revealed with scroll */
img.imgReveal {
	margin: 10px;
}

img.rotate {
	transition: all .5s ease-in-out;
}

img.rotate:hover {
	transform: rotate(360deg);
}

/* menu icon that rotates and has link expand from it */
img.menuIcon {
	position: absolute;
	transition: all .5s ease-in-out;
	z-index: 98;
}

img.menuIcon:hover {
	transform: rotate(360deg);
}

p {
	padding-left: 30px;
	padding-right: 30px;
}

p.bold {
	font-weight: bold;
}

p.center {
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #89D6F3;
	width: 100%;
	top: 0;
	position: fixed;
	z-index: 99;
} 

li {
	float: left;
}

/* home link on navbar is aligned with site content */
li.left {
	margin-left: 300px;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: "Georgia";
}

li a:hover {
	background-color: #6DABC2;
	color: white;
}

/* container for menu items, in case want to position menu */

.menu {
	display: block;
	margin: auto;
	min-width: 700px;
}

/* menu item that is hidden and expands when the menu icon is hovered over */
.menuExpand {
	position: absolute;
	overflow: hidden;
	opacity: 0;
	height: 117px;
	width: 0;
	/*background-color: #9FEFE7;*/ /* for solid background color */
	background: linear-gradient(to right, #9FEFE7, #F2FFF9); /* might not work on all browsers */
	font-size: 100px;
	color: white;
	text-align: center-left;
	text-indent: 90px;
	margin-left: 60px;	
}

/* text or title that divides the page with a color block */
.scroll1 {
	display: block;
	font-size: 1.25em;
	padding: 14px 16px;
	text-align: center;
	/*background-color: #D1E9F9;*/
	background: linear-gradient(to right, #9FEFE7, #F2FFF9);
}

/* main title that fades in */
.title1 {
	color: red;
	text-align: center;
	font-size: 3.125em;
	font-weight: bold;
	font-family: "Comic Sans MS";
}

#scrollToTopButton {
	background: url("../images/scrollToTopButton.png") no-repeat;
	height: 100px;
	width: 100px;
	position: fixed;
	right: 100px;
	bottom: 10px;
	display: none;
}

#animatedImg {
	position: absolute;
	border-style: solid;
	border-color: #E5E5FF;
	border-width: 2px;
	border-radius: 10px;
}

/* flag that can be dragged around and snaps to inside of box*/
#divDragFlag {
	height: 300px;
	width: 600px;
	border-style: solid;
}

#dropIcon {
	float: left;
}

/* box for draggable icon to be dropped in */
#dropZone {
	display: block;
	margin: auto;
	height: 200px;
	width: 200px;
	text-align: center;
	line-height: 200px;
}

.dropDiv {
	background-color: yellow;
}

.dropDivHover {
	/*background-color: #B1AC3F;*/
	background-color: #CCCC00;
	
}

.dropDivDropped {
	background-color: green;
}